<script language="JavaScript">
    function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'insert'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'update'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
        }
    
        else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
        }
        else if (dowhat == 'all'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
            document.getElementById('delete').style.display = 'block';
            document.getElementById('show options').style.display = 'none';
            document.getElementById('hide options').style.display = 'block';
        }
        else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
            document.getElementById('show options').style.display = 'block';
            document.getElementById('hide options').style.display = 'none';
        }
    }
    function newEvent() { showform('insert'); }
    function updateEvent(eventID) {
    //Populate update form with selected Event data
    document.getElementById('updateeventID').value = eventID;
     showform('update'); 
    }

    function deleteEvent(eventID) { 
      //Set eventID to delete form and show delete
      document.getElementById('deleteeventID').value = eventID;
      showform ('delete'); 
      }
    function browseEvents() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseEvents()">
<h1>Events Page</h1>
<h2>Add, update, or delete an Event</h2>

[ <a href="/">Home Page</a> | <a href="events">Events</a> | <a href="organizers">Organizers</a> | <a href="ticketbuyers">Ticket Buyers</a> | <a href="ticketssold">Tickets</a>]

<div id="browse">
<p><a href="#" onClick="showAll()" id="show options">Click to see all options</a> <a href="#" onClick="browseEvents()" id="hide options"> Click to remove options</a> </p>
<table border="1" cellpadding="5">
  <thead>
    <tr>
        <th><a href="#" onClick="newEvent()">Add Event</a></th>
        <th></th>
        <th>Event ID</th>
        <th>Event Name</th>
        <th>Event Date</th>
        <th>Event Type</th>
        <th>Organizer ID</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
        <td><a href="#" onClick="updateEvent({{this.eventID}})">Edit</a></td>
        <td><a href="#" onclick="deleteEvent({{this.eventID}})">Delete</a></td>
        <td>{{this.eventID}}</td>
        <td>{{this.eventName}}</td>
        <td>{{this.eventDate}}</td>
        <td>{{this.eventType}}</td>
        <td>{{this.organizerID}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addEvent">
        <legend><strong>Add Event</strong></legend>
          <fieldset class="fields">
            <label for="eventName"> Event Name </label> <input type="text" id="eventID"
            name="eventName">
            <label> Event Date </label> <input type="text" name="eventdate">
            <label> Event Type </label> <select name="eventType">
            	<option value="0">&nbsp;</option>
                <option value="1">Concert</option>
                <option value="2">Stand Up</option>
                <option value="3">Conference</option>
                </select>
            <label> Organizer ID </label> <input type="number" name="organizerID">
      </fieldset>
          <input class="btn" type="submit" id="addEvent" value="Add Event">
          <input class="btn" type="button" value="Cancel" onClick="browseEvents()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
  <br>
    <form method="POST" id="UpdateEvent">
        <legend><strong>Update Event</strong></legend>
          <fieldset class="fields">
          <input type="hidden" name="eventID" id="updateeventID">
            <label>Event Name</label>
            <input type="text" name="eventName" id="eventID" required>
            
            <label>Event Date</label>
            <input type="text" name="eventDate" id="eventDate" required>
            
            <label>Event Type</label>
            <select name="eventType" id="eventType" required>
                <option value="0">&nbsp;</option>
                <option value="1">Concert</option>
                <option value="2">Stand Up</option>
                <option value="3">Conference</option>
            </select>
            
            <label>Organizer ID</label>
            <input type="number" name="organizerid" id="organizerID" required>
            
      </fieldset>
          <input class="btn" type="submit" id="UpdateSaveEvent" value="Save Update Event">
          <input class="btn" type="button" value="Cancel" onClick="browseEvents()">
	  </form> 
</div><!-- update -->
<p>&nbsp;</p>
<div id="delete" style="display: block">
  <form method="POST" id="deleteEvent">
      <legend><strong>Delete Event</strong></legend>
          <fieldset class="fields">
            <p>Are you sure you wish to delete the following?</p>
            <input type="hidden" name="eventID" id="deleteeventID">
            <label><strong>Event Name:</strong></label> <span id="deleteeventName"></span>
        </fieldset>
        <input class="btn" type="submit" value="Delete Event">
        <input class="btn" type="button" value="Cancel" onClick="browseEvents()">
    </form> 
</div><!-- delete -->

<script type="text/javascript" src="./js/deleteEvent.js" defer></script>
<script type="text/javascript" src="./js/updateEvent.js" defer></script>
</body>