{{!
  🔔 Citation for the following code:
  ---- Date: 3/10/2025
  ---- Adapted from Node.js Exploration: https://canvas.oregonstate.edu/courses/1987790/pages/exploration-developing-in-node-dot-js?module_item_id=25023025
  ---- Adapted from nodejs-starter-app: https://github.com/osu-cs340-ecampus/nodejs-starter-app
  }}

<script language="JavaScript">
  function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'insert'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
            //document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'update'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
            //document.getElementById('delete').style.display = 'none';
        }
    
        else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            //document.getElementById('delete').style.display = 'block';
        }

        else if (dowhat == 'all'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
            //document.getElementById('delete').style.display = 'block';
            document.getElementById('show options').style.display = 'none';
            document.getElementById('hide options').style.display = 'block';
        }
        else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            //document.getElementById('delete').style.display = 'none';
            document.getElementById('show options').style.display = 'block';
            document.getElementById('hide options').style.display = 'none';
        }
    }
    function newEvent() { showform('insert'); }
    function updateEvent(pid) {showform('update')}
    function browseEvents() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseEvents()">

{{!
🔔 Citation for the following code:
---- Date: 3/14/2025
---- Adapted from W3School: https://www.w3schools.com/howto/howto_js_topnav.asp
}}
<div class="topnav"> 
  <a href="/">Home Page</a>
  <a href="events">Events</a>
  <a href="organizers">Organizers</a>
  <a href="ticketbuyers">Ticket Buyers</a>
  <a href="ticketssold">Tickets</a>
</div> 
<h1>Events Page</h1>
<h2>Add, update, or delete an Event</h2>

<button href="#" onClick="showAll()" id="show options"> All options </button> 
<button href="#" onClick="browseEvents()" id="hide options"> Remove options </button>
<div id="browse">
<table border="1" cellpadding="5" id="event-table">
  <thead>
    <tr>
        <th>Event ID</th>
        <th>Event Name</th>
        <th>Event Date</th>
        <th>Event Type</th>
        <th>Organizer ID</th>
        <th></th>

    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr data-value="{{this.eventID}}">
        <td>{{this.eventID}}</td>
        <td>{{this.eventName}}</td>
        <td>{{this.eventDate}}</td>
        <td>{{this.eventType}}</td>
        <td>{{this.organizerID}}</td>
        <td><button onclick="deleteEvent({{this.eventID}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<button onclick="newEvent()">Add Event</button>
<button onclick="updateEvent()">Edit Event</button>
<script type="text/javascript" src="./js/deleteEvent.js" defer></script>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addEvent" action="/addEvent">
        <legend><strong>Add Event</strong></legend>
          <fieldset class="fields">
            <label> Event Name: </label> <input type="text" name="input-eventName">
            <label> Event Date: </label> <input type="date" name="input-eventDate">
            <label> Event Type: </label> <select name="input-eventType">
            	<option value="">Select Event Type</option>
                <option value="Concert">Concert</option>
                <option value="Stand Up">Stand Up</option>
                <option value="Conference">Conference</option>
                </select>
            <label for="input-organizerID"> Organizer: </label> 
            <select name="input-organizerID" id="input-event-organizerID">
              <option value="">None</option>
              {{#each organizers}}
                <option value="{{this.organizerID}}">{{this.firstName}} {{this.lastName}}</option>
              {{/each}}
            </select>
      </fieldset>
          <input class="btn" type="submit" id="addEventID" value="Add Event">
          <input class="btn" type="button" value="Cancel" onClick="browseEvents()">
	  </form> 
</div><!-- insert -->

<p>&nbsp;</p>

<div id="update" style="display: block;">
    <form id="update-event-form">
        <legend><strong>Update Event</strong></legend>
          <fieldset>
            <label for="update-event-id-and-name"> Event Name: </label>
            <select name="update-event-id-and-name" id="update-event-id-and-name">
                <option value="test">Select an Event Name</option>
                {{#each data}}
                    <option value="{{this.eventID}}" >{{this.eventName}}</option>    
                {{/each}}        
            </select>

            <label for="update-event-date">Event Date:</label>
            <input type="date" id="update-event-date" name="update-event-date">
            <label for="organizerIDValue"> Select an Organizer: </label>
            <select id="input-event-organizerid" name="organizerIDValue">
              <option value="">None</option>
              {{#each organizers}}
                <option value="{{this.organizerID}}">{{this.firstName}} {{this.lastName}}</option>
              {{/each}}
            </select>
      </fieldset>
          <input class="btn" type="submit" id="updateEventBtn" value="Update Event">
          <input class="btn" type="button" value="Cancel" onClick="browseEvents()">
	  </form> 
<script src="./js/updateEvent.js" defer></script>
</div><!-- update -->