{{!
  🔔 Citation for the following code:
  ---- Date: 3/10/2025
  ---- Adapted from Node.js Exploration: https://canvas.oregonstate.edu/courses/1987790/pages/exploration-developing-in-node-dot-js?module_item_id=25023025
  ---- Adapted from nodejs-starter-app: https://github.com/osu-cs340-ecampus/nodejs-starter-app
  }}

<script language="JavaScript">
  function showform(dowhat) {
      /*
      * four DIVS: browse, insert, update, delete
      * this function sets one visible the others not
      */
    if (dowhat == 'insert'){
      document.getElementById('browse').style.display = 'none';
      document.getElementById('insert').style.display = 'block';
      document.getElementById('update').style.display = 'none';
    }
    else if (dowhat == 'update'){
      document.getElementById('browse').style.display = 'none';
      document.getElementById('insert').style.display = 'none';
      document.getElementById('update').style.display = 'block';
    }
    else if (dowhat == 'all'){
      document.getElementById('browse').style.display = 'block';
      document.getElementById('insert').style.display = 'block';
      document.getElementById('update').style.display = 'block';
      document.getElementById('show options').style.display = 'none';
      document.getElementById('hide options').style.display = 'block';
    }
    else { //by default display browse
      document.getElementById('browse').style.display = 'block';
      document.getElementById('insert').style.display = 'none';
      document.getElementById('update').style.display = 'none';
      document.getElementById('show options').style.display = 'block';
      document.getElementById('hide options').style.display = 'none';
    }
  }
  function newOrganizer() { showform('insert'); }
  function updateOrganizer(pid) { showform('update'); }
  function browseOrganizers() { showform ('browse'); }
  function showAll() { showform ('all'); }
</script>


<body onload="browseOrganizers()">

{{!
🔔 Citation for the following code:
---- Date: 3/14/2025
---- Adapted from W3School: https://www.w3schools.com/howto/howto_js_topnav.asp
}}
<div class="topnav"> 
  <a href="/">Home Page</a>
  <a href="events">Events</a>
  <a href="organizers">Organizers</a>
  <a href="ticketbuyers">Ticket Buyers</a>
  <a href="ticketssold">Tickets</a>
</div> 

<h1>Organizers Page</h1>
<h2>Add, update, or delete our list of Organizers</h2>

<button href="#" onClick="showAll()" id="show options"> All options </button> 
<button href="#" onClick="browseEvents()" id="hide options"> Remove options </button>

<div id="browse">
<table border="1" cellpadding="5" id="organizer-table">
  <thead>
    <tr>

        <th>Organizer ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Company Name</th>
        <th>Email</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr data-value="{{this.organizerID}}">
        <td>{{this.organizerID}}</td>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.companyName}}</td>
        <td>{{this.email}}</td>
        <td><button onclick="deleteOrganizer({{this.organizerID}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<button onclick="newOrganizer()">Add Organizer</button>
<button onclick="updateOrganizer()">Edit Organizer</button>
<script type="text/javascript" src="./js/deleteOrganizer.js" defer></script>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addOrganizer" action="/addOrganizer">
        <legend><strong>Add Organizer</strong></legend>
          <fieldset class="fields">
            <label> First Name: </label> <input type="text" name="input-organizer-firstname" id="input-organizer-firstname" required>
            <label> Last Name: </label> <input type="text" name="input-organizer-lastname" id="input-organizer-lastname" required>
            <label> Company Name: </label> <input type="text" name="input-companyname" id="input-companyname">
            <label> Email: </label> <input type="email" name="input-organizer-email" id="input-organizer-email" required>
          </fieldset>
        <input class="btn" type="submit" id="addOrganizer-button" value="Add Organizer">
        <input class="btn" type="button" value="Cancel" onClick="browseOrganizers()">
	</form> 
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
  <br>
    <form id="update-organizer-form">
    <legend><strong>Update Organizer</strong></legend>
      <fieldset>
        <label for="input-fullname"> Full name: </label>
        <select name="input-fullname" id="organizer-select-name">
          <option value="test">Select an Organizer</option>
          {{#each data}}
            <option value="{{this.organizerID}}">{{this.firstName}} {{this.lastName}}</option>
          {{/each}}
        </select>
        <label>Company: </label><input type="text" name="input-company" id="input-company-update" required>
        <label>Email: </label><input type="email" name="update-email" id="update-email" required>
      </fieldset>
    <input class="btn" type="submit">
    <input class="btn" type="button" value="Cancel" onClick="browseOrganizers()">
    </form>
<script src="./js/updateOrganizer.js"></script>
</div><!-- update -->
