<script language="JavaScript">
	function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'insert'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'update'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
        }
        else if (dowhat == 'all'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
            document.getElementById('show options').style.display = 'none';
            document.getElementById('hide options').style.display = 'block';
        }
        else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('show options').style.display = 'block';
            document.getElementById('hide options').style.display = 'none';
        }
    }
    function newTicketBuyer() { showform('insert'); }
    function updateTicketBuyer(pid) { showform('update') }
    function browseTicketBuyers() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseTicketBuyers()">
<h1>Ticket Buyers Page</h1>
<h2>Add, update, or delete our list of Ticket Buyers</h2>

[ <a href="/">Home Page</a> | <a href="events">Events</a> | <a href="organizers">Organizers</a> | <a href="ticketbuyers">Ticket Buyers</a> | <a href="ticketssold">Tickets</a>]

<div id="browse">
  <p><a href="#" onClick="showAll()" id="show options">Click to see all options</a> 
    <a href="#" onClick="browseTicketBuyers()" id="hide options"> Click to remove options</a> </p>
<table border="1" cellpadding="5" id="ticketBuyer-table">
  <thead>
    <tr>
        <th>Ticket Buyer ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Address</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr data-value="{{this.ticketBuyerID}}">
        <td>{{this.ticketBuyerID}}</td>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.email}}</td>
        <td>{{this.address}}</td>
        <td><button onclick="deleteTicketBuyer({{this.ticketBuyerID}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<button onclick="newTicketBuyer()">Add Ticket Buyer</button>
<button onclick="updateTicketBuyer()">Edit Ticket Buyer</button>
<script type="text/javascript" src="./js/deleteTicketBuyer.js" defer></script>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addTicketBuyer" action="/addTicketBuyer">
        <legend><strong>Add Ticket Buyer</strong></legend>
          <fieldset class="fields">
            <label> First Name </label> <input type="text" name="input-firstname">
            <label> Last Name </label> <input type="text" name="input-lastname">
            <label> Email </label> <input type="email" name="input-email">
            <label> Address</label> <input type="text" name="input-address">
      </fieldset>
          <input class="btn" type="submit" id="addTicketBuyerID" value="Add Ticket Buyer">
          <input class="btn" type="button" value="Cancel" onClick="browseTicketBuyers()">
	</form> 
</div><!-- insert -->

<p>&nbsp;</p>

<div id="update" style="display: none;">
    <form id="update-ticket-buyer">
        <legend><strong>Update Ticket Buyer</strong></legend>
        <fieldset class="fields">
            <select name="update-fullname" id="ticket-buyer-select-name">
                <option value="test">Select a Ticket Buyer</option>
                {{#each data}}
                <option value="{{this.ticketBuyerID}}">{{this.firstName}} {{this.lastName}}</option>
                {{/each}}        
            </select>
            <label> Email: </label> <input type="email" name="email" id="update-email">
            <label> Address: </label> <input type="text" name="address" id="update-address">
        </fieldset>
        <input class="btn" type="submit" id="updateTicketBuyerBtn" value="Update Ticket Buyer">
        <input class="btn" type="button" value="Cancel" onClick="browseTicketBuyers()">
    </form>
<script src="./js/updateTicketBuyer.js"></script>
</div>