<script language="JavaScript">
    function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'insert'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'none';
        }
        else if (dowhat == 'update'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'block';
        }
        else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
        }
        else if (dowhat == 'all'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('update').style.display = 'block';
            document.getElementById('show options').style.display = 'none';
            document.getElementById('hide options').style.display = 'block';
        }
        else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('update').style.display = 'none';
            document.getElementById('show options').style.display = 'block';
            document.getElementById('hide options').style.display = 'none';
        }
    }
    function newTicket() { showform('insert'); }
    function updateTicket(pid) { showform('update'); }
    function browseTickets() { showform ('browse'); }
    function showAll() { showform ('all'); };
    
</script>

<body onload="browseTickets()">
<h1>Tickets Page</h1>
<h2>Add, update, or delete our list of Tickets</h2>

[ <a href="/">Home Page</a> | <a href="events">Events</a> | <a href="organizers">Organizers</a> | <a href="ticketbuyers">Ticket Buyers</a> | <a href="ticketssold">Tickets</a>]

  <p><a href="#" onClick="showAll()" id="show options">Click to see all options</a> 
    <a href="#" onClick="browseTickets()" id="hide options"> Click to remove options</a> </p>
<div id="browse">
<table border="1" cellpadding="5" id="ticket-table">
  <thead>
    <tr>
        <th>Ticket ID</th>
        <th>Price</th>
        <th>Section</th>
        <th>Seat</th>
        <th>Parking Included</th>
        <th>Event ID</th>
        <th>Ticket Buyer ID</th>
        <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr data-value="{{this.ticketsSoldID}}">
        <td>{{this.ticketsSoldID}}</td>
        <td>{{this.price}}</td>
        <td>{{this.section}}</td>
        <td>{{this.seat}}</td>
        <td>{{this.parkingIncluded}}</td>
        <td>{{this.eventID}}</td>
        <td>{{this.ticketBuyerID}}</td>
        <td><button onclick="deleteTicket({{this.ticketsSoldID}})">Delete</button></td>
    </tr>
    {{/each}}
  </tbody>
</table>
<button onclick="newTicket()">Add Ticket</button>
<button onclick="updateTicket()">Edit Ticket</button>
<script type="text/javascript" src="./js/deleteTicket.js" defer></script>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addTicket" action="/addTicket">
        <legend><strong>Add Ticket </strong></legend>
          <fieldset class="fields">
            <select name="input-buyer-tickets" id="input-buyer-ticket" required>
              <option value="">Select a Buyer</option>
              {{#each buyers}}
              <option value="{{this.ticketBuyerID}}">{{this.firstName}} {{this.lastName}}</option>
              {{/each}}
            </select>
            <select name="input-event-tickets" id="input-event-ticket" required>
              <option value="">Select an Event</option>
              {{#each events}}
              <option value="{{this.eventID}}">{{this.eventName}}</option>
              {{/each}}
            </select>
            <select name="input-seat-tickets" id="input-seat-ticket" required>
              <option value="">Select a seat</option>
              {{#each seats}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <select name="input-section-tickets" id="input-section-tickets" required>
              <option value="">Select a Section</option>
              {{#each sections}}
              <option value="{{this}}">{{this}}</option>
              {{/each}}
            </select>
            <label> Price </label> <input type="number" name="input-ticket-price" required>
            <label> Parking Included </label> <select name="input-parking" id="input-parking" required>
              <option value="0" selected>No</option>
              <option value="1">Yes</option>
              </select>
      </fieldset>
          <input class="btn" type="submit" id="addTicket-button" value="Add Ticket">
          <input class="btn" type="button" value="Cancel" onClick="browseTickets()">
	</form> 
  
</div><!-- insert -->
<p>&nbsp;</p>
<div id="update">
  <br>
    <form id="update-ticket-form">
        <legend><strong>Update Ticket</strong></legend>
          <fieldset>
            <select name="update-fullname-and-concert" id="update-fullname-and-concert">
              <option value="test">Select a TicketBuyerEvent</option>
              {{#each updates}}
              <option value="{{this.ticketsSoldID}}">{{this.firstName}} {{this.lastName}} | {{this.eventName}}</option>
              {{/each}}
            </select>
            <label><strong>Parking Included: </strong> </label> <select name="update-parking", id="update-parking">
              <option value="0" selected>No</option>
              <option value="1">Yes</option>
              </select>
      </fieldset>
          <input class="btn" type="submit">
          <input class="btn" type="button" value="Cancel" onClick="browseTickets()">
	  </form> 
<script src="./js/updateTicket.js"></script>
</div><!-- update -->
