<script language="JavaScript">
	function showform(dowhat) {
        /*
        * four DIVS: browse, insert, update, delete
        * this function sets one visible the others not
        */
        if (dowhat == 'insert'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('delete').style.display = 'none';
        }
        else if (dowhat == 'delete'){
            document.getElementById('browse').style.display = 'none';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('delete').style.display = 'block';
        }
        else if (dowhat == 'all'){
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'block';
            document.getElementById('delete').style.display = 'block';
            document.getElementById('show options').style.display = 'none';
            document.getElementById('hide options').style.display = 'block';
        }
        else { //by default display browse
            document.getElementById('browse').style.display = 'block';
            document.getElementById('insert').style.display = 'none';
            document.getElementById('delete').style.display = 'none';
            document.getElementById('show options').style.display = 'block';
            document.getElementById('hide options').style.display = 'none';
        }
    }
    function newTicketBuyer() { showform('insert'); }
    function deleteTicketBuyer(pid,name) { showDeleteForm (pid,name); }
    function browseTicketBuyers() { showform ('browse'); }
    function showAll() { showform ('all'); }
</script>
</head>

<body onload="browseTicketBuyers()">
<h1>Ticket Buyers Page</h1>
<h2>Add, update, or delete our list of Ticket Buyers</h2>

[ <a href="/">Home Page</a> | <a href="events">Events</a> | <a href="organizers">Organizers</a> | <a href="ticketbuyers">Ticket Buyers</a> | <a href="ticketssold">Tickets</a>]

<div id="browse">
  <p><a href="#" onClick="showAll()" id="show options">Click to see all options</a> 
    <a href="#" onClick="browseTicketBuyers()" id="hide options"> Click to remove options</a> </p>
<table border="1" cellpadding="5">
  <thead>
    <tr>
        <th><a href="#" onClick="newTicketBuyer()">Add Ticket Buyer</a></th>
        <th></th>
        <th>Ticket Buyer ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Address</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
        <td><a href="#" onClick="updateTicketBuyer({{this.ticketBuyerID}}, '{{this.firstName}}', '{{this.lastName}}', '{{this.email}}', '{{this.address}}')">Edit</a></td>
        <td><a href="#" onclick="deleteTicketBuyer({{this.ticketBuyerID}}, '{{this.firstName}} {{this.lastName}}')">Delete</a></td>
        <td>{{this.ticketBuyerID}}</td>
        <td>{{this.firstName}}</td>
        <td>{{this.lastName}}</td>
        <td>{{this.email}}</td>
        <td>{{this.address}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
<p>&nbsp;</p>
</div> <!-- browse -->
<div id="insert">
    <form method="POST" id="addTicketBuyer">
        <legend><strong>Add Ticket Buyer</strong></legend>
          <fieldset class="fields">
            <label> First Name </label> <input type="text" name="firstname">
            <label> Last Name </label> <input type="text" name="lastname">
            <label> Email </label> <input type="email" name="email">
            <label> Address</label> <input type="text" name="address">
      </fieldset>
          <input class="btn" type="submit" id="addTicketBuyerID" value="Add Ticket Buyer">
          <input class="btn" type="button" value="Cancel" onClick="browseTicketBuyers()">
	</form> 
</div><!-- insert -->

<p>&nbsp;</p>

<div id="update" style="display: none;">
    <form method="POST" id="updateTicketBuyer">
        <legend><strong>Update Ticket Buyer</strong></legend>
        <fieldset class="fields">
            <label> Ticket Buyer ID </label> <input type="text" name="ticketBuyerID" id="updateTicketBuyerID" readonly>
            <label> First Name </label> <input type="text" name="firstname" id="updateFirstName">
            <label> Last Name </label> <input type="text" name="lastname" id="updateLastName">
            <label> Email </label> <input type="email" name="email" id="updateEmail">
            <label> Address </label> <input type="text" name="address" id="updateAddress">
        </fieldset>
        <input class="btn" type="submit" id="updateTicketBuyerBtn" value="Update Ticket Buyer">
        <input class="btn" type="button" value="Cancel" onClick="browseTicketBuyers()">
    </form> 
</div><!-- update -->

<p>&nbsp;</p>
<div id="delete" style="display: none;">
  <form method="POST" id="deleteTicketBuyer">
      <legend><strong>Delete Ticket Buyer</strong></legend>
          <fieldset class="fields">
          <p>Are you sure you wish to delete the following?</p>
          <input type="hidden" name="ticketBuyerID" id="deleteticketBuyerID" value="1">
          <label><strong>Ticket Buyer ID:</strong></label> <span id="deleteTicketBuyerID"></span><br>
            <label><strong>Ticket Buyer Name:</strong></label> <span id="deleteName"></span>
        </fieldset>
        <input class="btn" type="submit" id="DeleteTicketBuyer" value="Delete Ticket Buyer">
        <input class="btn" type="button" value="Cancel" onClick="browseTicketBuyers()">
  </form> 
</div><!-- delete -->

<script src="/path/to/deleteTicketBuyer.js"></script>
<script src="/path/to/updateTicketBuyer.js"></script>